<%= form_with(model: post_category, local: true) do |form| %>
  <% if post_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_category.errors.count, "error") %> prohibited this post_category from being saved:</h2>

      <ul>
        <% post_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 mb-4 w-full md:w-96">
    <%= label_for form, :name %>
    <%= input_text form, :name %>
  </div>

  <div class="actions">
    <%= submit_button form %>
  </div>
<% end %>
