<p id="notice"><%= notice %></p>

<%= h1_header @post_category.name %>

<% if @post_category.posts.empty? %>
  <div class="mb-3">There are no posts in this category.</div>
<% else %>
  <div class="w-full lg:w-9/12">
    <%= render partial: 'shared/posts_table', locals: { posts: @post_category.posts } %>
  </div>
  <br>
<% end %>
<%= link_action_button '+ New Post', new_post_path(post_category_id: @post_category.id) %>
<% confirm_message = @post_category.posts.empty? ? 'Are you sure?' : 'This category contains posts. Would you like to continue? Your posts will not be deleted.' %>
<%= link_danger_button 'Delete', post_category_path(@post_category), method: :delete, data: { confirm: confirm_message } %>

