<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 mb-4">
    <%= label_for form, :title %>
    <%= input_text form, :title %>
  </div>

  <div class="grid grid-cols-1 mb-4">
    <%= label_for form, :post_category_id %>

    <% post_category = @post.post_category %>
    <% post_category_id = nil %>
    <% unless post_category.nil? then post_category_id = @post.post_category_id end %>
    <% unless @post_category_id.nil? then post_category_id = @post_category_id end %>
    <%= form.select :post_category_id, PostCategory.all.collect { |c| [c.name, c.id] }, { selected: post_category_id, include_blank: true }, { class: 'border border-grey-400 rounded h-8 cursor-pointer' } %>
  </div>

  <div class="field">
    <%= label_for form, :content %>
    <div class="">
      <%= form.rich_text_area :content, class: 'mt-4' %>
    </div>
  </div>

  <div class="mt-4 grid grid-cols-3 md:grid-cols-6">
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |tag| %>
      <div class="mx-2 my-1 cursor-pointer">
        <%= tag.check_box class: 'bg-red-700 cursor-pointer' %>
        <%= tag.label class: 'cursor-pointer' %>
      </div>
    <% end %>
  </div>

<!--  <div class="">-->
    <%#= form.fields_for :tags do |tag_builder| %>
      <%#= tag_builder.label :name, 'Add new' %>
      <%#= input_text tag_builder, :name %>
    <%# end %>
<!--  </div>-->

  <div class="actions">
    <%= submit_button form %>
  </div>
<% end %>
