<p id="notice"><%= notice %></p>

<div class="post-show">
  <div>
    <%= h1_header @post.title %>
  </div>

  <div class="rounded border border-gray-300 bg-gray-100 p-4 mb-4 w-2/4">
    <p>
      <%= @post.content %>
    </p>
  </div>

  <div class="post-actions">
    <%= link_simple 'Edit', edit_post_path(@post) %> |
    <%= link_simple 'Back', posts_path %>
  </div>

</div>
