<p id="notice"><%= notice %></p>

<div class="post-show">
  <div>
    <h2><%= @post.title %></h2>
  </div>

  <div class="post-content">
    <p>
      <%= @post.content %>
    </p>
  </div>

  <div class="post-actions">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn-item-action' %>
    <%= link_to 'Back', posts_path, class: 'btn-item-action' %>
  </div>

</div>
